.main-container{
	margin: 0 auto;
	align-items: stretch;
	width: 1000px;
	background-color: #eeede1;
	display: flex;
	padding: 20px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.1);
	gap: 20px;
	border-radius: 10px;
}

.left-panel{
	width: 30%;
	background-color: #dcd2c4;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

.right-panel{
	width: 40%
	padding-left: 20px;
}

.photo-panel img {
    border-radius: 8px;
    height: auto;
    display: block;
}

.photo-panel {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.text-content {
    padding: 15px;
    background-color:#dcd2c4

}

.nccu-logo {
    width: 80%;
    display: block;
    margin: 20px auto 0;
}

.section {
    margin-bottom: 30px;
}

.section-title{
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.edu-item {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.year {
    font-weight: bold;
    width: 120px;     
}

.description {flex: 1;}

.tag {
    display: inline-block;
    background-color: #e3eaf5;   
    color: #2a4b8d;             
    padding: 6px 12px;
    border-radius: 8px;
    margin: 4px;
    font-size: 14px;
}

.hw-lab-container {
    display: flex;
    gap: 20px;
}

.hw-column, .lab-column {
    flex: 1;
    background-color: #e8e4d9;
    padding: 15px;
    border-radius: 10px;
}

.hw-column a, .lab-column a {
    text-decoration: none;
    color: #2b4b8c;
}

.hw-column a:hover, .lab-column a:hover {
    color: #1a2f5a;
}

.music-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.music-item img {
    width: 70%;
    border-radius: 10px;
}

.music-item {
    width: 22%;      
    text-align: center;
}

.song-title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

.music-note {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}
